//Colors
$red_main: #FD5E53;

$silver_main: #212121;
$silver_regular: #424242;
$silver_light: #616161;

$white_regular: #FAFAFA;
$white_main: #F9FCFB;

$green_light: #B0EACD;
$green_main: #21BF73;

//Fonts
$font_size_14: 14px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_20: 20px;
$font_size_22: 22px;
$font_size_24: 24px;
$font_size_26: 26px;
$font_size_28: 28px;
$font_size_30: 30px;



// Shadow
$shadow_34: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
$shadow_39: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;






