<p>home-page works!</p>
<app-nav-bar></app-nav-bar>
<!-- <h1>Current Page:  {{ page  }}</h1>
<h1>Total Results :  {{ totalResults }}</h1> -->

<div class="actions">
  <button (click)="change(-1)"> - </button>
  <div class="actions" *ngFor="let buttonElem of pagination">
      <button>
          {{ buttonElem.title }}
      </button>
  </div>
  <button (click)="change(1)"> + </button>
</div>



<ul>

  <li (click)="tabChange(category)" 
      *ngFor="let category of categories" 
    > {{ category | titlecase }}
  </li>

</ul>

<div class="container">
  <span [ngSwitch]="category">

    <div class="wrapper" 
         *ngFor="let category of categories">

      <p *ngSwitchCase="category">
        {{ category | titlecase }}
      </p>

    </div>

    <p *ngSwitchDefault>
      General
    </p>

  </span>
</div>